@model IEnumerable<CyberFortress.Models.Software>

@{
    ViewBag.Title = "Additional Software";
}

<h2>Availabe Software</h2>

<table class="table" id="software-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    <div style="display:inline-block; border-radius: 10%; overflow: hidden;">
                        <img src="@item.SoftwareImage" style="max-height:100px; max-width:200px; display:block; margin:auto;" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftwareName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftwareDescription)
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", new { id = item.SoftwareId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#software-table").DataTable();
        })
    </script>
}